@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');
h1 {
    color: grey;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
} 
h2 {
    color: black;
}
p {
    color: grey;
}
li {
    color: grey;
}
body {
    color: grey;
    font-family: "Roboto Mono";
}
a{
    font-size: 20px;
    background-color: yellow
}
a:link,
a:visited {
    color: grey;
    text-decoration: none;
}
a:hover {
    color: black;
}
#black {
    color: black;
}
body {
    background-color: beige
}
h2 {
    /* background-color: yellow */
}
.highlight-h2 {
    width: 7%;
    background-color: red;
}
footer {
    text-align: center;
}
body {
    border-top-style: groove;
    border-bottom-style: groove;
    border-width: thick;
    border-color: black;
}
.writing {
    border-top-style: solid;
    border-bottom-style: solid;
    /* border-left-style: solid; */
    /* border-right-style: solid; */
    border-width: 6px;
    border-color: red;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%
}
.title {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 1%;
}